<div class="container">
  <p style="margin-left: auto; margin-right: auto; margin-top: 20px; font-size: x-large; color: orange;">
    The Cooking App!
  </p>
  <div class="inputBox">
    <span>Material: </span>
    <input type="text" [(ngModel)]="material1">
  </div>
  <div class="inputBox">
    <span>Material: </span>
    <input type="text" [(ngModel)]="material2">
  </div>
  <div class="buttonSection">
    <button class="buttonSpec" (click)="cook(material1, material2)">FRY IT!</button>
    <button class="buttonSpec" (click)="clear()"> Clear </button>
  </div>
  <div *ngIf="isCooked" class="dish" >Now you have {{theDish}}</div>
</div>


