<div class="container">
  <nav>
    <div>&bull; First page</div>
    <div>&bull; Second page</div>
    <div>&bull; third page</div>
    <div>&bull; third page</div>
    <div>&bull; third page</div>
    <div>&bull; third page</div>
  </nav>
  <div class="colum" style="background-color: antiquewhite">
    <section>
      content
    </section>
    <section>
      Shoe Dog is a memoir by Nike co-founder Phil Knight.
      The memoir chronicles the history of Nike from its early
      struggles to its evolution into one of the world’s most
      recognized and profitable companies. pic Civil War drama
      focuses on the life of petulant southern belle Scarlett
      O'Hara (Vivien Leigh). Starting with her idyllic on a
      sprawling plantation
    </section>
    <section>
      content
    </section>
  </div>
</div>
