
.border2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #7A88FF, #7AFFAF);
}

.headline {
  text-align: center;
  font-style: italic;
  font-size: large;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.warp {
  background-color: lime;
  display: table-cell;
  vertical-align: middle;
}

.describe {
  display: flex;
  justify-content: center;
  color: white;
  font-size: small;
  margin-top: 10px;
}

.boxbody {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.box{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: white;
}

