
.border2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #A356CF;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-size: large;
  color: white;
  height: 30px;
  margin-top: 25px;
}

.describe {
  display: flex;
  justify-content: center;
  color: white;
  font-size: small;
  margin-top: 10px;
}

.boxbody {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.box{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: white;
}

