body {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: limegreen;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 400px;
  height: 200px;
  background-color: ghostwhite;
}

.intputFont {
  position: relative;
  width: 100px;
  margin-top: 20px;
  margin-left: 100px;
}

.buttonSpec {
  position: absolute;
  /*display: inline-block;*/
  width: 40%;
  height: 15%;
  margin-top: 16px;
  margin-left: 100px;
  background-color: darkgreen;
}

.notificationSpec {
  position: absolute;
  display: inline-block;
  height: 15%;
  width: 53%;
  margin-top: 55px;
  margin-left: 102px;
}

.notiFont {
  position: absolute;
  font-size: xx-small;
  display: inline-block;

}

nav {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 25%;
  border-style: groove;
}

.colum {
  display: inline-block;
  margin-left: 24%;
  height: 100%;
  width: 78%;
}

section {
  display: inline-block;
  width: 100%;
  border-style: groove;
  border-color: yellow;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

.border2 {
  border-bottom: black 3px solid;
  border-left: black 3px solid;
  border-right: black 3px solid;
  border-top: black 3px solid;
  border-color: lawngreen;
  border-style: groove;
}

.box1 {
  /*margin-left: 20px;*/
  vertical-align: top;
  width: 120px;
  height: 150px;
  border-color: deeppink;
  border-style: groove;
}

.box2 {
  position: absolute;
  margin-left: 120px;
  width: 64%;
  border-style: groove;
  border-color: yellow;
}

