<body>
  <div class="container">
    <div class="intputFont">
      <input type="text" value="username" style="background-color: lightgray; margin-top: 20px">
      <input style="margin-top: 20px; background-color: lightgray" type="text" value="password">
    </div>
    <button type="button" class="buttonSpec">
      <p style="color: white; font-size: x-small; margin-top: auto; margin-bottom: auto">LOGIN</p>
    </button>
    <div class="notificationSpec">
      <div class="notiFont" style="color: darkgray;  margin-left: auto">Not Registered?</div>
      <div class="notiFont" style="color: darkgreen; margin-left: 35%">Create an account</div>
    </div>
  </div>
</body>
